<header id="header">
   <div class="container">
       <div class="row">
           <div class="col d-flex">
               <i class="fas fa-fingerprint"></i>
               <p style="font-weight: 700;" class=" h2 ">Tinyone</p>
           </div>
           <div class="col ml-auto menu">
                   <ul class=" d-flex justify-content-between">
                       <li class="menu-item">
                           <a href="#">Features</a>
                       </li>
                       <li class="menu-item">
                           <a href="#">Support</a>
                       </li>
                       <li class="menu-item">
                           <a href="#">Blog</a>
                       </li>
                   </ul>

                   
           </div>
       </div>
       <div class="row">
           <div class="col">
               <div class="offer">
                   <h1 class="offer-title">
                       Inspire your inspiration
                   </h1>
                   <div class="offer-intro">
                       Lorem ipsum dolor, sit amet consectetur adipisicing.
                   </div>
                   <p class="offer-text">
                       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente quaerat corrupti facere
                       labore vel alias enim maxime at nulla deleniti pariatur, perferendis, ipsa illum sit.
                   </p>
                   <ul class="icons d-flex">
                       <li class="icons-item">
                           <a href="">
                               <i class="fab fa-apple"></i>
                           </a>
                       </li>
                       <li class="icons-item">
                           <a href="">
                               <i class="fas fa-robot"></i>
                           </a>
                       </li>
                       <li class="icons-item">
                           <a href="">
                               <i class="fab fa-windows"></i>
                           </a>
                       </li>
                   </ul>

               </div>
           </div>
           <div class="col">
            <div class="ipadimg">
               <img class="ipad " src="assets/images/iPad1.jpg" alt="">
             </div>
           </div>
       </div>
   </div>
</header>


<div class="imgblock text-center">
<div class="container">
<div class="row">

<div class="card" style="width: 18rem;">
    <img src="assets/images/iphone.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/8.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

</div>
</div>
  </div>

<!-- <section id="section" class="section"> -->
       <!-- <div class="row">
           <div class="col-lg-12">
               <div class="title">
                   <h2 class="title-main">
                       Tinyone feature
                   </h2>
                   <p class="title-text">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus necessitatibus atque illum.
                       Impedit, dolor nihil.
                   </p>
               </div>
           </div>
       </div>

      <div class="blockRespons">
       <div class="row">
           <div class="col-lg-4 ">

               <div class="feature d-flex">
                   <i class="fas fa-city"></i>

                   <div class="feature-block">
                       <h3 class="feature-title">
                           fully responsive
                       </h3>

                       <p class="feature-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita vel vitae assumenda deleniti. Ut repudiandae facilis molestiae perferendis quos velit! Itaque?
                       </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">

               <div class="feature d-flex">
                   <i class="fas fa-city"></i>

                   <div class="feature-block">
                       <h3 class="feature-title">
                           fully responsive
                       </h3>

                       <p class="feature-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita vel vitae assumenda deleniti. Ut repudiandae facilis molestiae perferendis quos velit! Itaque?
                       </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">

               <div class="feature d-flex">
                   <i class="fas fa-city"></i>

                   <div class="feature-block">
                       <h3 class="feature-title">
                           fully responsive
                       </h3>

                       <p class="feature-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita vel vitae assumenda deleniti. Ut repudiandae facilis molestiae perferendis quos velit! Itaque?
                       </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">

               <div class="feature d-flex">
                   <i class="fas fa-city"></i>

                   <div class="feature-block">
                       <h3 class="feature-title">
                           fully responsive
                       </h3>

                       <p class="feature-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita vel vitae assumenda deleniti. Ut repudiandae facilis molestiae perferendis quos velit! Itaque?
                       </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">

               <div class="feature d-flex">
                   <i class="fas fa-city"></i>

                   <div class="feature-block">
                       <h3 class="feature-title">
                           fully responsive
                       </h3>

                       <p class="feature-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita vel vitae assumenda deleniti. Ut repudiandae facilis molestiae perferendis quos velit! Itaque?
                       </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">

               <div class="feature d-flex">
                   <i class="fas fa-city"></i>

                   <div class="feature-block">
                       <h3 class="feature-title">
                           fully responsive
                       </h3>

                       <p class="feature-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita vel vitae assumenda deleniti. Ut repudiandae facilis molestiae perferendis quos velit! Itaque?
                       </p>
                   </div>
               </div>
           </div>

        </div>
       </div>  -->
   
<!-- </section>  -->


<section id="touch" class="touch">
   <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <div class="title">
                   <h2 class="title-main yellow">
                       Keep in touch with us
                   </h2>
                   <p class="title-text text">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus necessitatibus atque illum.
                       Impedit, dolor nihil.
                   </p>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-10 ml-auto">
           <form action="" class="form d-flex">
               <input type="email" class="form-input form-control" placeholder="Enter Email">
               <button type="submit" class="btn btn-success ml-3 sub">Submit</button>
           </form>
       </div>
   </div>
   </div>
</section> 




<footer id="footer" class="footer">
<div class="container">
   <div class="row">
       <div class="col-md-12">
           <div class="info">
               HAV E NAS DAIS
               this 66 gradus,Dong Iang
               Hello Angular && bootstrap
           </div>
       </div>
   </div>
</div>
</footer>




