button {
   margin-right: 10px;
   margin-top  : 10px;
}

.btn-sm {
   font-size  : 20px;
   padding    : 7px;
   line-height: 20px;
   position   : relative;
   top        : -7px
}

.container {

   margin-top: 70px;
}

span {

   position        : relative;
   display         : block;
   width           : 30px;
   height          : 0.3rem;
   background-color: black;
   padding         : 2px;
   margin          : 2px;
   left            : 470px;
   top             : 110px;
   z-index         : 1;

}

.span1 {
   transform: rotate(44deg);
}

.span3 {
   transform: rotate(-44deg);
}

.spann {
   display: none;
}

.top {
   position: absolute;
   bottom  : -390px;
   right   : 0px;
   z-index : 1;
}

.conttop {
   padding-bottom: 100px;
}

.map {
   width  : 600px;
   margin : 0 auto;
   padding: 40px 0;
}