<div class="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark top-fixed">
  
  <a class="navbar-brand Ronin "routerLink="/">Ronin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li  class="nav-item">
          <a class="nav-link" routerLink="/">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="set">My first work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link some_page" routerLink="home">Practice</a>
        </li>
        <li class="nav-item" id="About">
          <a class="nav-link About" routerLink="mycomponent">About</a>
        </li>

       
        <li class="nav-item text-center" id="mylink">
          <a class="nav-link " id="paralax"  routerLink="paralax">Paralax</a>
        </li>
      
      </ul>
     
    
    </div>
  </nav>
  </div>
  <div class="scrollToTop">
  <div class="scroll">
    <i class="fas  fa-fighter-jet"></i>
    <div class="fast"></div>
  </div> 
   
  </div>
  
  <router-outlet></router-outlet>