<div class="custom-control custom-switch">
   <input type="checkbox" class="custom-control-input" id="customSwitch1">
   <label class="custom-control-label" for="customSwitch1"></label>
 </div>

  
 <div class="wrapper">
   <div class="page">
    <div class="paralax__montain ">
       <img class="paralax__montain_1" src="assets/images/m_1.png" alt="">
    </div>
      <div class="paralax">
        
         
         <div data-target="30" class="paralax__montain ">
          <img class="paralax__montain_2" src="assets/images/m_2.png" alt="">
         </div>
         <div data-target="40" class="paralax__montain ">
          <img class="paralax__montain_3" src="assets/images/m_3.png" alt="">
         </div>
         <div data-target="10" class="paralax__montain ">
          <img class="parlax__fog" src="assets/images/fog_1.png" alt="">
         </div>
      </div>
      <div class="content">
         <div class="content__body">
            <div class="content__header">
              
               <h1 class="content__title">Hello</h1>
               <h2 class="content__subtitle">Im Gevorg Gasparyan</h2>
               
            </div>
            <div class="content-article">
              
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quasi aliquam officiis sed odio, voluptatum nostrum! Repellendus nobis nesciunt ad delectus ullam laboriosam deleniti debitis eum in, officia laborum commodi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nemo error sunt mollitia earum quidem veritatis asperiores nam aperiam animi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid optio ratione sequi facere, quos perferendis velit, dignissimos laborum veniam numquam nisi quas similique ut? Iste eos aperiam ab dolorem numquam illo? Repellat accusantium sequi corporis debitis nobis magnam accusamus quas reiciendis est corrupti, quidem error!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quam, facilis blanditiis ut quaerat aliquam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, dolor.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit quis optio cum fugit vitae laborum officiis soluta dolorem quidem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint culpa officiis nobis aliquam id, doloremque cumque, quia cupiditate nisi qui odit. Architecto, saepe.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus explicabo sequi aliquid. Unde excepturi nulla inventore voluptatem neque. Dicta expedita inventore exercitationem tenetur, possimus dolor recusandae officiis! Nesciunt sit mollitia cumque voluptas perspiciatis ullam quo a. Beatae aspernatur omnis dolores cupiditate libero eius!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eveniet explicabo sequi harum mollitia repellat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          
         
         
         </div>
         </div>

      </div>
   </div>

</div>


